.light-accent-color {
  color: var(--light-accent-color);
}
.shadow-2dp {
      @apply(--shadow-elevation-2dp);
}
.paper-font-display1 {
  @apply(--paper-font-display1);
}
.paper-font-headline {
  @apply(--paper-font-headline);
}
.paper-font-title {
  @apply(--paper-font-title);
  white-space: normal;
}
.paper-font-subhead {
  @apply(--paper-font-subhead);
  white-space: normal;
}
.paper-font-body2 {
  @apply(--paper-font-body2);
}
.paper-font-body1 {
  @apply(--paper-font-body1);
}
.paper-font-caption {
  @apply(--paper-font-caption);
  white-space: normal;
}
.paper-font-menu {
  @apply(--paper-font-menu);
}
.paper-font-button {
  @apply(--paper-font-button);
}
.secondary-text-color {
  color: var(--secondary-text-color);
}


body {
  @apply(--paper-font-common-base);
  background-color: var(--secondary-background-color);
}


[condensed-title] {
  font-weight: lighter;
  margin-left: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
                      }

app-drawer .drawer-contents {
  height: 100%;
  overflow: auto;
}

.menu-item {
  cursor: pointer;
}

.menu-item:hover {
  background-color: var(--paper-grey-300);
}

.view-login {
  background-color: var(--primary-background-color);
}

#error-toast {
    --paper-toast-background-color: red;
    --paper-toast-color: white;
  }

.error-color {
  color: var(--error-color)
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.avatar-container {
  position: relative;
  border: 2px solid #00AA8D;
  border-radius: 50%;
  height: 90px;
  padding: 2px;
  width: 90px;
}

.avatar-container .image {
      background-image: url('//app-layout-assets.appspot.com/assets/pesto/avatar.jpg');
      background-size: contain;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }

.center {
    margin: auto;
    width: 100%;
    padding: 2%;
}
